@font-face {
    font-family: 'Matter-Light';
    src: url('fonts/Matter-Light.otf');
url('fonts/Matter-Light.otf')  format('truetype')
}
@font-face {
    font-family: 'Matter-Medium';
    src: url('fonts/Matter-Medium.otf');
url('fonts/Matter-Medium.otf')  format('truetype')
}
@font-face {
    font-family: 'Matter-Regular';
    src: url('fonts/Matter-Regular.otf');
url('fonts/Matter-Regular.otf')  format('truetype')
}
@font-face {
    font-family: 'PPFormula';
    src: url('fonts/PPFormula-NarrowRegular.otf');
url('fonts/PPFormula-NarrowRegular.otf')  format('truetype')
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.otf');
url('fonts/Roboto-Light.otf')  format('truetype')
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.otf');
url('fonts/Roboto-Bold.otf')  format('truetype')
}
html {
    font-size: 80.5%;
    @media screen and (max-width: 1440px) {
        font-size: 62.5%;
    }
    @media screen and (max-width: 1366px) {
        font-size: 55.5%;
    }
  }
  
body {
    padding: 0;
    margin: 0;
    font-family: 'Matter-Light', sans-serif;
    overflow-x: hidden;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    height: 145px;
    background-color: transparent;
    transition: all .7s ease-in-out;
    
}
.header-container{
    width: 100%;
}
header img {
    max-width: 450px;
    width: 70%;
    transition: all .7s ease-in-out;
    overflow: hidden;
    @media screen and (max-width: 1366px) {
        width: 280px;
        height: 70px;
    }
}

header.scroll{
    background-color: #000;
    height: 65px;
}
header.scroll img{
    width: 180px;
}

.banner {
    width: 100%;
    overflow: hidden;
    min-height: 500px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url('images/new_banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Matter-Light', sans-serif;
    @media (max-height: 700px) {
       align-items: flex-end;
      }
}
.banner-content{
    @media (min-height: 700px) {
        margin-top: 10%;
       }
    padding-left: 5%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner span{
    display: block;
}

.banner-title,
.banner-based{
    margin: 0;
    font-weight: 300;
    font-size: 1.8rem;
    /* filter: blur(1px); */
}
.banner-title span:nth-child(2){
    margin-left: 44px ;
}
.banner-title span:nth-child(3){
    margin-left: 18px ;
}
.banner-heading{
    margin: 0;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 6.5rem;
    font-family: 'PPFormula', sans-serif;
    /* filter: blur(3px); */
}

.banner-heading span:first-child{
    margin-left: 18vw;
}
.banner-heading span:nth-child(2){
    margin-left: 28.8vw;
}
.banner-heading span:nth-child(3){
    margin-left: 44vw;
}

.banner-based{
    margin: 5% 20px 8% 70%;
    @media (max-height: 700px) {
        margin: 5% 20px 3% 70%;
       }
}

.banner-based span:last-child{
    margin-left: 55px;
}

.about{
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px  0;
    width: 100%;
    overflow: hidden;
   
}

.about-content{
    width: 55%;
}
.about-content-container{
    padding: 0 20px;
    padding-right: 50px;

}
.about-img {
    width: 43%;
    
}
.about-img img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.about-content h3{
    text-transform: uppercase;
    font-family: 'PPFormula', sans-serif;
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 500;
   
    display: inline-flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-start;
    
    margin: 10% 0 0 22%;

}

.about-content p{
   
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 100;
    margin-left: 22%;
    margin-bottom: 0;
    line-height: 2.1rem;
    font-family: 'Matter-Regular', sans-serif;

}

.about-content img{
    /* transform: translateY(-22px); */
    transform: translate(0px, 50px);
    border-radius: 20px;
    width: 300px;
    /* height: 150px; */
    object-fit: contain;
}

.about-img {
    justify-content: end;
    align-items: flex-start;
}

.about-img img {
    border-radius: 20px;
}

.services{
    color: #ffffff;
    background-color: #000000;
    padding: 60px;
   
}
.services-container{
    max-width: 1440px;
    margin: 0 auto;
    
}

.services h3{
    font-family: 'PPFormula', sans-serif;
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 500;
}

.accordion{
    display: flex;
    flex-direction: column;
    /* height: 350px; */
    /* justify-content: space-around; */
    

}

.accordion .accordion-item{
    overflow: hidden;
}
.accordion-title{
    cursor: pointer;
    font-family: 'PPFormula', sans-serif;
    font-size: 2.5rem;
    font-weight: 100 !important;
    text-transform: uppercase;
    color: #808080;
    position: relative;
    padding-right: 40px;
    height: 80px;
   
}
.accordion-title:after{
    content: "";
    position: absolute;
    background-image: url("images/plus-icon.png");
    top: 17px;
    right: 0;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.accordion-title .accordion-opened:after{
    background-image: url("images/minus-icon.png");

}
.accordion-content{
    /* padding: 15px ; */
    display: none;
}

.accordion-content p{
    /* margin: 0px 0 35px 39px; */
    margin: 0px;
    max-width: 650px;
    font-weight: 100;
    font-size: 1.8rem;
    text-align: justify;
   padding-bottom: 30px;

}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    
}
.use-case-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.use-case-para{
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    text-align: justify;
    margin-top: 20px;
}
.use-cases-img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.use-cases h3{
    text-align: center;
  
    margin: 70px 0 30px 0;
    font-family: 'PPFormula', sans-serif;
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 500;
   
}

.use-cases-slider{
    /* padding-left: 15%; */
}

.use-cases-slider .use-cases-slide{
  width: 100%;
    display: flex;
    text-align: center;
    padding: 30px 0;
    justify-content: center;
    
}

.use-cases-slider .use-cases-slide div{
    display: flex;
    /* margin-left: 20px; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
   min-width: 150px;
    padding-top: 5px;
    height: 50px;
    border: 1px solid #a6a6a6;
    border-radius: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'PPFormula', sans-serif;
    color: #a6a6a6;
    transition: all .3s ease-in-out;
}
.slick-list {
    padding-left: 0px!important; // half partial
}

.use-cases-slider .use-cases-slide.slick-current div{
    transform: scale(1.2);
    border-color: #000000;
    color: #000000;
}

.contact-us{
    padding: 30px 60px 60px;
}

.contact-us-container{
width: 100%;
overflow: hidden;    
}

.contact-us-img,
.contact-us-form{
    width: 50%;
}

.contact-img{
    background-image: url("images/contact-us.jpg");
    background-size: cover;
    background-position: center;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 20px;
}
.contact-us-form h3{
    font-family: 'PPFormula', sans-serif;
    font-size: 2.7rem;
    font-weight: 500;
    margin: 0 0 10px 0;
    line-height: 4rem;
    text-transform: capitalize;
    padding-top: 10px;
    letter-spacing: 1px;
}

input, textarea{
    width: calc(100% - 45px);
    height: 45px;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
    padding: 5px 20px;
    display: block;
}

textarea{
    font-family: 'Matter-Light', sans-serif;
    height: 200px;
    padding: 20px;
}

.contact-us-form .flex{
    gap: 20px;
}

.field-row{
    position: relative;
    width: 100%;
    margin: 12px 0;

}
.field-row span{
    position: absolute;
    font-size: 12px;
    color: red;
}


.contact-us-form button{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-family: 'PPFormula', sans-serif;
    height: 55px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8rem;
    position: relative;
    background: none;
}

.contact-us-form button,
.contact-us-form button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contact-us-form button::before,
.contact-us-form button::after {
    background: #000000;
    content: '';
    position: absolute;
    z-index: -1;
}


.contact-us-form button::after {
    background: #000000;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}



.contact-us-form button:hover {
    color: #000000;
}

.contact-us-form button:hover:after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

footer{
    background-color: #000000;
    padding: 40px 60px 50px 60px;
    color: #ffffff;
    overflow: hidden;
}

footer h4{
    margin: 0 0 4px 0;
    font-size: 15px;
}

footer a{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-style: initial;
    transition: all .6s ease-in-out;
}
footer a:hover{
    color: #808080;
}
.footer-left,
.footer-middle,
.footer-right{
    width: 33.33%;
}

.footer-middle img{
    max-width: 186px;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
}
.footer-contact-us{
    padding-right: 8vw;
}
.linked-in-links{
    gap: 4px;
    margin-top: 4px;
}
.linked-in-links a img{
    filter: brightness(100%);
    transition: all .6s ease-in-out;
}


.linked-in-links a:hover img{
    filter: brightness(0.5);
}

.alert {
    padding: 15px 20px;
}

.alert-success {
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
    padding: 15px 20px;
    color: white;
}

.alert-failed {
    background-color: #e91e63;
    border: 1px solid #e91e63;
    padding: 15px 20px;
    color: white;
}

/*Response*/
@media only screen and (max-width: 1150px) {
    .banner-title,
    .banner-based{
        /* filter: blur(0.5px); */
    }
    .banner-heading {
        /* filter: blur(2px); */
    }

    /* .use-cases-slider .use-cases-slide span{
        min-width: 220px;
        height: 60px;
        font-size: 24px;
    } */
    .about-content img {
        width: 120px;
        transform: translate(0px, 50px);
    }
}

@media only screen and (max-width: 1000px) {
    header img {
        max-width: 380px;
    }
    .about-content-container {
        padding-right: 20px;
    }
    .about-content img {
        width: 90px;
    }
    .about-content h2 {
        margin-left: 14%;
    }
    .about-content p {
        font-size: 16px;
        margin-left: 26%;
    }
    .contact-us-form h3 {
        font-size: 20px;
    }
    .use-cases-slider .use-cases-slide span{
        min-width: 190px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 840px) {
    header img {
        max-width: 300px;
    }
  
    .banner-content {
        padding-left: 4%;
    }
    .banner-title,
    .banner-based{
        font-size: 14px;

    }
    .banner-heading {
        /* filter: blur(1px); */
    }
    .banner-heading span:first-child{
        margin-left: 10vw;
    }
    .banner-heading span:nth-child(2){
        margin-left: 23.8vw;
    }
    .banner-heading span:nth-child(3){
        margin-left: 50vw;
    }

    .about {
        padding: 30px 0;
    }
    .about-content-container {
        padding-left: 40px;
        padding-right:40px;
    }
    .about-content h3 {
        margin: 0px;
        margin-bottom: 20px;
        flex-direction: row;
    
    }
    .about-content h3 span:nth-child(2){
        margin-left: 15px;
    }
    .about-content img {
        display: none;
    }
    .about-content p {
        margin: 0px;
        margin-bottom: 40px;
    }
    .about .flex{
        flex-direction: column;
    }
    .about-content,
    .about-img{
        width: 100%;
    }
    .about-content h2 {
        margin-top: 25px;
    }
    .about-img{
        justify-content: center;
        align-items: center;
    }
    .about-img img{
        max-width: 90%;
    }
    .services{
        padding: 30px 20px;
    }
    .services h3 {
        margin: 0 0 20px 0;
        font-size: 22px;
    }
    .use-cases-slider {
        padding-left: 0;
    }
    .use-cases-slider .use-cases-slide span{
        font-size: 18px;
    }
    .contact-us {
        padding: 30px 20px 30px 20px;
    }
    .contact-us br{
        display: none;
    }
    .contact-us-container{
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
    }
    .contact-us-img,
    .contact-us-form {
        width: 100%;
        overflow: hidden;
    }
    .contact-us-img{
        max-width: 400px;
        margin-bottom: 20px;
    }
    .contact-img{
        max-width: 400px;
        padding-top: 100%;
    }
    footer {
        padding: 24px 20px 30px 20px;
    }
    footer a {
        font-size: 11px;
    }
    .footer-middle img {
        max-width: 150px;
    }
    footer br{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header{
        width: 100%;
        overflow:hidden ;
    }
    .banner-title{
        margin-bottom: 30px;
    }
    .banner-heading {
        font-size: 24px;
        line-height: 24px;
    }
    .banner-heading span:nth-child(3){
        margin-left: 48vw;
    }
    .banner-based{
        margin: 5% 0px 8% 55%;
    }
    .about-content h2 {
        font-size: 24px;
    }
    .about-content p {
        font-size: 14px;
        /* margin-left: 20%; */
        padding-right: 10px;
    }
    .about-content img {
        width: 75px;
    }
    .accordion-title:after {
        top: 9px;
    }
    .contact-img{
        width: 100%;
    }
    .accordion-content p {
        margin: 0 0 0 10px;
        font-size: 14px;
    }
    .use-cases h3 {
        font-size: 24px;
        margin: 30px 0 30px 0;
    }
    .use-cases-slider .use-cases-slide span {
        font-size: 14px;
        min-width: 130px;
        height: 40px;
    }
    .contact-us-img,
    .contact-us-form {
        width: 90%;
        overflow: hidden;
    }
    .contact-us-img{
        max-width: 350px;
        margin-bottom: 20px;
    }
    .contact-img{
        max-width: 350px;
        padding-top: 100%;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-left,
    .footer-middle,
    .footer-right {
        width: 100%;
        max-width: 300px;
        justify-content: center;
    }
    .footer-middle{
        order: -1;
    }
    footer h4,
    footer a,
    footer address{
       text-align: center;
    }
    .footer-contact-us{
        padding-right: 0;
    }
    .linked-in-links {
        justify-content: center;
    }
}
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #79366c; 
    border-radius: 10px; /* Set the color of the thumb (the draggable part) */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #4f4784;
    border-radius: 10px; /* Set the color of the track (the non-draggable part) */
  }
  @media only screen and (max-width:425px) {
    .accordion-title {
        font-size: 16px;
    }
  }
  @media only screen and (max-width: 320px){
    .banner-heading {
        font-size: 20px;
        line-height: 24px;
    }
    .banner-title, .banner-based {
        font-size: 12px;
    }
    .about-content h3{
        flex-direction: column;
    }
    .about-content h3 span:nth-child(2){
        margin-left: 0px;
    }
    .about-content-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .accordion-title {
        font-size: 16px;
    }
  }